body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.arriba {
    display: flex;
}

.abajo {
    display: flex;
}

.arriba div{
    background-color: #B0B0B0;
    border: 5px solid #000; /* 5px de ancho, sólido, color negro */
    width: 50px; /* Ancho predeterminado */
    height: 50px; /* Alto predeterminado */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.abajo div {
    background-color: #fff;
    border: 5px solid #fff; /* 5px de ancho, sólido, color negro */
    width: 50px; /* Ancho predeterminado */
    height: 50px; /* Alto predeterminado */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

table {
    border: 1px solid #000; /* Agregar un borde opcional */
}

.numeros {
    display: flex;
}

.numeros div {
    background-color: #fff;
    border: 5px solid #fff; /* 5px de ancho, sólido, color negro */
    width: 50px; /* Ancho predeterminado */
    height: 15px; /* Alto predeterminado */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.textos{
    display: flex;
}

.textos div{
    padding-right: 200px;
    padding-left: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}